@use 'abstracts/variables' as var;
@use 'abstracts/functions' as func;
@use 'abstracts/mixins' as mix;

.icon {
    background-size: cover;
    background-repeat: no-repeat;
    &-search {
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        background-image: func.svgUrl('search');
        // background-image: func.svgUrl("arrowDown", "green", -90);
    }
    &-menu {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        background-image: func.svgUrl('hamburger');
    }
}
